
<!-- <p>signup works!</p>

<div class="form">
    <div class="form-group">
        <label for="">firstName</label>
        <input [(ngModel)]="firstName" type="Name" class="form-control">
      </div>
     
    <div class="form-group">
      <label for="">lastName</label>
      <input [(ngModel)]="lastName" type="Name" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="Password" type="text" class="form-control">
    </div>
    <div class="form-group">
      <button (click)="onSignup()" class="btn btn-success">Signup</button>
      <button (click)="onCancel()" style="margin-left: 10px;" class="btn btn-danger">Cancel</button>
    </div>
    </div> -->

 
    <nav class="navbar navbar-expand-lg navbar-dark">
  
      <span><img class="logo" src="https://images.squarespace-cdn.com/content/v1/55bb6642e4b0c91676284881/1541790476167-0XDWR6F0SGMXPGO307MB/ke17ZwdGBToddI8pDm48kHqYAt3UgyjNg-0dlUc4K5hZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7UnCxNA8dHvmd7460Z7fbKEmJ2gL2qv94i4UWS2y7YfwkXCxk_sn2atIO3dASbw33Q/tmn+logo.png" alt="">
      </span>
      <!-- <a class="navbar-brand" href="#">Home</a> -->
      <a class="navbar-brand" (click)="home()"style="color:white;background-color:teal;border-radius:10px" class="nav-link">HOME</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item"><a routerLink="/home/booking/add-booking" class="nav-link">New Booking</a></li> -->
        </ul>
      </div>
    </nav>

    <body background="https://media.istockphoto.com/photos/bed-at-hotel-room-background-blurred-and-defocused-picture-id1015419982?k=6&m=1015419982&s=170667a&w=0&h=8nKmv8uCw7X3LeEjJeuzf-8ROVvYppmJGNL5c0w9L40="class="body">
        <div class="box">
                <div><img class="monkeyimg"src="https://img2.pngio.com/mailchimp-logo-mailchimp-white-icon-transparent-full-size-png-mailchimp-logo-png-2276_2382.png">
               <br><br><br><br><span class="text-center">Get Started with your account</span>
            
                <div class="input-container">
                <input [(ngModel)]="Name"id="Name"type="text" required=""/>
                <label class="color">UserName</label>		
            </div>
           

            <div class="input-container">		
                <input [(ngModel)]="Email"id ="Email"type="mail" required />
                <label class="color">E-mail</label>
            </div>
    

            <div class="input-container">		
                <input [(ngModel)]="Password"id="Password"type="Password" required=""/>
                <label class="color">Password</label>
            </div>
            

            <div class="input-container">		
                <input [(ngModel)]="Phone"id="Phone"type="Phone" required=""/>
                <label class="color">Phone</label>
            </div>
    
               
            <button (click)="onSignup()"type="button" class="btn">submit</button><span style="margin-left: 10px;" class="color">Already have account? <a class="link Signin"routerLink="/auth/login">Signin</a></span>
    
    </div>
        </div>
    </body>